.create-form {
  max-width: 500px;
  background-color: rgb(215, 211, 211);
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: auto;
  border-radius: 20px;
}

div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 30px;
}

button {
  background-color: #ff4d4d;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0077aa;
}

@media (max-width: 768px) {
  .create-form {
    max-width: 100%;
    padding: 0 20px;
  }
}
