body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(2, 151, 251);
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.login-form {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
}

.login-form label {
  align-items: center;
  margin-bottom: 30px;
  font-size: 20px;
  display: block;
  letter-spacing: 3px;
}

.login-form input {
  border-radius: 5px;
  width: 100%;
  height: 30px;
  font-size: 15px;
}

.submit {
  background-color: #ff4d4d;
  border: none;
  color: #fff;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
}

.reset {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
  background-color: transparent;
}
